extends layout

block content
  h1 Books
  div.booklist_buttons
    p#create_button
      a(class="button" href="/books/new") Create New Book
    div.search_feature
      input(type="text" class="search_bar" placeholder="Search Book")
      button(type="button" class="search_button") Search
  table
    thread
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href="/books/" + book.id)= book.title
          td= book.author
          td= book.genre
          td= book.year