extends layout

block content
  h1 Books
  p
    a(class="button" href="/books/new") Create New Book
  table
    thread
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      tr
        td
          a(href="") Star wars
        td Me
        td non-fiction
        td 2014