extends layout

block content
  h1 Books
  div.booklist_buttons
    p#create_button
      a(class="button" href="/books") Back
    div.search_feature
      form(action="/books/search" class="search_form")
        input(type="search" class="search_bar" placeholder="Search Book" name="term")
        input(type="submit" value="Search" id="search_button")
  table
    thread
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href="/books/" + book.id)= book.title
          td= book.author
          td= book.genre
          td= book.year